<label class="block-element-title">
	Upload link video
</label>
<div class="block-element-wrapper">
	<div class="row">
		<label for="video-title" class="col-xs-3 col-form-label">Tên</label>
		<div class="col-xs-9">
			<input type="text" class="form-control" id="video-title" ng-model="videoTitle">
		</div>
	</div>
	<div class="row">
		<label for="video-link" class="col-xs-3 col-form-label">Link</label>
		<div class="col-xs-9">
			<input type="text" class="form-control" id="video-link" ng-model="videoLink">
		</div>
	</div>
</div>
