<div class="block-element-title">
	Upload link video
</div>
<div class="block-element-wrapper">
		<div class="modal-body">
			<div class="form-group row">
				<label for="video-title" class="col-xs-3 col-form-label">Tên Video</label>
				<div class="col-xs-9">
					<input type="text" class="form-control" id="video-title" ng-model="videoTitle">
				</div>
			</div>
			<div class="form-group row">
				<label for="video-link" class="col-xs-3 col-form-label">Link Video</label>
				<div class="col-xs-9">
					<input type="text" class="form-control" id="video-link" ng-model="videoLink">
				</div>
			</div>
		</div>
</div>