<div class="question-wrapper">
	<div class="question-name">
		{{vm.question.name}}
	</div>
	<div class="question-content block-wrapper">
		<div class="question-content-title block-title">Nội dung câu hỏi</div>
		<div class="question-content-body block-body">
			<div ng-repeat="block in questionContentBlocks" class="content-block">
				{{block.contents}}
			</div>
		</div>
		<div class="question-content-action-group block-actions">
			<a class="question-content-search" href="" ng-click="openDialogBox()">+ search</a>
			<a class="question-content-create" href="" ng-click="openDialogBox()">+ nội dung</a>
		</div>
	</div>
</div>
