<div class="question-wrapper">
	<div class="question-name">
		<a href="#" editable-text="vm.question.name" buttons="no" onbeforesave="vm.updateQuestionName($data)">{{vm.question.name}}</a>
	</div>
	<div class="block-wrapper">
		<div class="block-header">
			<div class="block-header-title">
				Nội dung câu hỏi
			</div>
			<div class="block-header-clear"></div>
		</div>
		<div class="block-body">
			<!-- <button title="Xóa" type="button" class="close content-remove" ng-click="vm.removeContent($id)" aria-hidden="true">&times;</button> -->
			<div class="block-content" ng-repeat="($id, block) in vm.question.contents" ng-click="vm.editQuestionBlock($id, block)">
				<div class="block-info">
					<span class="glyphicon glyphicon-picture btn-xs" aria-hidden="true" ng-if="hasImage(block)"></span>
					<span class="glyphicon glyphicon-music btn-xs" aria-hidden="true" ng-if="hasAudio(block)"></span>
					<span class="glyphicon glyphicon-facetime-video btn-xs" aria-hidden="true" ng-if="hasVideo(block)"></span>
				</div>
				<div ng-repeat="($id, content) in block.contents">
					<span ng-bind-html="content.text"></span>
				</div>
			</div>
		</div>
		<div class="block-action">
			<!-- <a class="question-content-search" href="" ng-click="vm.openDialogBox()">+ search</a> -->
			<a class="question-content-create" href="" ng-click="vm.openDialogBox()">+ nội dung</a>
		</div>
	</div>
</div>
