<div class="question-wrapper">
	<div class="question-name">
		<a href="#" editable-text="vm.question.name" buttons="no" onbeforesave="vm.updateQuestionName($data)">{{vm.question.name}}</a>
	</div>
	<div class="block-wrapper">
		<div class="block-header">
			<div class="block-header-title">
				Nội dung câu hỏi
			</div>
			<div class="block-header-clear"></div>
		</div>
		<div class="block-body">
			<div class="content-block" ng-repeat="($id, block) in vm.question.contents" ng-click="vm.editQuestionBlock($id, block)">
				<span ng-bind-html="block.contents"></span>
			</div>
		</div>
		<div class="block-action">
			<a class="question-content-search" href="" ng-click="vm.openDialogBox()">+ search</a>
			<a class="question-content-create" href="" ng-click="vm.openDialogBox()">+ nội dung</a>
		</div>
	</div>
</div>
