<div class="block-wrapper">
	<div class="subquestion-main block-group">
		<div class="block-header">
			<div class="block-header-title">
				Câu hỏi con:
				<a href="#" editable-select="vm.subquestion.type" buttons="no" e-ng-options="s.value as s.text for s in vm.subquestionTypes" onbeforesave="vm.updateSubquestionType($data)">
					{{vm.subquestion.type}}
				</a>
			</div>
			<div class="block-header-action dropdown">
				<div class="dropdown">
					<a class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						<span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="" ng-click="vm.removeSubquestion()">Xóa</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="block-header-clear"></div>
		</div>
		<div class="block-body">
			<div class="block-content" ng-repeat="(blockId, block) in vm.subquestion.contents" ng-click="openContentDialogBox(block, blockId)">
				<!-- <button title="Xóa" type="button" class="close content-remove" ng-click="removeContent(blockId)" aria-hidden="true">&times;</button> -->
				<div class="block-info">
					<span class="glyphicon glyphicon-picture btn-xs" aria-hidden="true" ng-if="hasImage(block)"></span>
					<span class="glyphicon glyphicon-music btn-xs" aria-hidden="true" ng-if="hasAudio(block)"></span>
					<span class="glyphicon glyphicon-facetime-video btn-xs" aria-hidden="true" ng-if="hasVideo(block)"></span>
				</div>
				<div ng-repeat="($id, content) in block.contents">
					<span ng-bind-html="content.text"></span>
				</div>
			</div>
		</div>
		<div class="block-action">
			<!-- <a class="question-content-search" href="" ng-click="openContentDialogBox()">+ search</a> -->
			<a class="question-content-create" href="" ng-click="openContentDialogBox()">+ nội dung</a>
		</div>
	</div>

	<div class="subquestion-answers block-group">
		<div class="block-header">
			<div class="block-header-title">
				Đáp án
			</div>
			<div class="block-header-clear"></div>
		</div>
		<div class="block-body">
			<div class="block-content" ng-repeat="answer in vm.answers" ng-click="openAnswerDialogBox(answer)">
				<div class="block-info">
					<span class="glyphicon glyphicon-picture btn-xs" aria-hidden="true" ng-if="hasImage(answer)"></span>
					<span class="glyphicon glyphicon-music btn-xs" aria-hidden="true" ng-if="hasAudio(answer)"></span>
					<span class="glyphicon glyphicon-facetime-video btn-xs" aria-hidden="true" ng-if="hasVideo(answer)"></span>
					<span class="glyphicon glyphicon-ok btn-xs" aria-hidden="true" ng-if="isCorrectSingleChoiceAnswer(answer)"></span>
				</div>
				<!-- <button title="Xóa" type="button" class="close content-remove" ng-click="removeAnswer(answer)" aria-hidden="true">&times;</button> -->
				<div ng-repeat="($id, content) in answer.contents">
					<span ng-bind-html="content.text"></span>
				</div>
			</div>
			<!-- <div ng-if="!answerBlocks" class="content-block"></div> -->
		</div>
		<div class="block-action">
			<!-- <a class="question-content-search" href="" ng-click="openAnswerDialogBox()">+ search</a> -->
			<a class="question-content-create" href="" ng-click="openAnswerDialogBox()">+ nội dung</a>
		</div>
	</div>

	<div class="block-group" ng-if="displayCheckMethod()">
		<div class="block-header">
			<div class="block-header-title">
				Phương thức kiểm tra đáp án
			</div>
			<div class="block-header-clear"></div>
		</div>
		<div class="block-body">
			<!-- single choice -->
			<div class="form-group row" ng-if="isSingleChoiceType()">
				<input class="form-check-input" type="radio" value="position" ng-model="vm.subquestion.checkMethod" ng-change="updateCheckMethod()">
				Vị trí
			</div>
			<!-- fill text -->
			<div class="form-group row" ng-if="isFillTextType()">
				<div class="col-xs-6">
					<input class="form-check-input" type="radio" value="text" ng-model="vm.subquestion.checkMethod" ng-change="updateCheckMethod()">
					Text
				</div>
				<div class="col-xs-6">
					<input class="form-check-input" type="radio" value="math" ng-model="vm.subquestion.checkMethod" ng-change="updateCheckMethod()">
					Giá trị toán
				</div>
			</div>
			<!-- animation -->
			<div class="form-group" ng-if="isAnimationType()">
				<div class="row">
					<div class="col-xs-4">
						<input class="form-check-input" type="radio" value="position" ng-model="vm.subquestion.checkMethod" ng-change="updateCheckMethod()">
						Vị trí
					</div>
					<div class="col-xs-4">
						<input class="form-check-input" type="radio" value="text" ng-model="vm.subquestion.checkMethod" ng-change="updateCheckMethod()">
						Text
					</div>
					<div class="col-xs-4">
						<input class="form-check-input" type="radio" value="math" ng-model="vm.subquestion.checkMethod" ng-change="updateCheckMethod()">
						Giá trị toán
					</div>
				</div>
				<div ng-if="isTextOrMathValueCheckMethod()">
					<tags-input ng-model="vm.subquestion.positions" placeholder="Thêm" display-property="value" min-length="1" add-from-autocomplete-only="true" on-tag-removed="removeTag()" on-tag-added="addTag()">
						<auto-complete source="matchAnswerValue($query)" min-length="1" display-property="value"></auto-complete>
					</tags-input>
				</div>
			</div>
		</div>
		<div class="block-action"></div>
	</div>

	<div class="subquestion-explanation block-group">
		<div class="block-header">
			<div class="block-header-title">
				Lời giải
			</div>
			<div class="block-header-clear"></div>
		</div>
		<div class="block-body">
			<div class="block-content" ng-repeat="(blockId, block) in vm.subquestion.solutions" ng-click="openSolutionDialogBox(block, blockId)">
				<!-- <button title="Xóa" type="button" class="close content-remove" ng-click="removeSolution(blockId)" aria-hidden="true">&times;</button> -->
				<div class="block-info">
					<span class="glyphicon glyphicon-picture btn-xs" aria-hidden="true" ng-if="hasImage(block)"></span>
					<span class="glyphicon glyphicon-music btn-xs" aria-hidden="true" ng-if="hasAudio(block)"></span>
					<span class="glyphicon glyphicon-facetime-video btn-xs" aria-hidden="true" ng-if="hasVideo(block)"></span>
				</div>
				<div ng-repeat="($id, content) in block.contents">
					<span ng-bind-html="content.text"></span>
				</div>
			</div>
			<!-- <div ng-if="!hintBlocks" class="content-block"></div> -->
		</div>
		<div class="block-action">
			<!-- <a class="question-content-search" href="" ng-click="openSolutionDialogBox()">+ search</a> -->
			<a class="question-content-create" href="" ng-click="openSolutionDialogBox()">+ nội dung</a>
		</div>
	</div>
</div>
