<div class="block-wrapper">
	<div class="subquestion-main block-group">
		<div class="block-header">
			<div class="block-header-title">
				Câu hỏi con:
				<a href="#" editable-select="vm.subquestion.type" buttons="no" e-ng-options="s.value as s.text for s in vm.subquestionTypes" onbeforesave="vm.updateSubquestionType($data)">
					{{vm.subquestion.type}}
				</a>
			</div>
			<div class="block-header-action dropdown">
				<div class="dropdown">
					<a class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						<span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="" ng-click="vm.removeSubquestion()">Xóa</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="block-header-clear"></div>
		</div>
		<div class="block-body">
			<div class="content-block" ng-repeat="(blockId, block) in vm.subquestion.contents">
				<button title="Xóa" type="button" class="close content-remove" ng-click="removeContent(blockId)" aria-hidden="true">&times;</button>
				<div class="block-content" ng-click="openContentDialogBox(block, blockId)">
					<div ng-repeat="($id, content) in block.contents">
						<span ng-bind-html="content.text"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="block-action">
			<!-- <a class="question-content-search" href="" ng-click="openContentDialogBox()">+ search</a> -->
			<a class="question-content-create" href="" ng-click="openContentDialogBox()">+ nội dung</a>
		</div>
	</div>

	<div class="subquestion-answers block-group">
		<div class="block-header">
			<div class="block-header-title">
				Đáp án
			</div>
			<div class="block-header-clear"></div>
		</div>
		<div class="block-body">
			<div class="content-block" ng-repeat="answer in vm.answers">
				<button title="Xóa" type="button" class="close content-remove" ng-click="removeAnswer(answer)" aria-hidden="true">&times;</button>
				<span class="glyphicon glyphicon-ok" aria-hidden="true" ng-if="isCorrectSingleChoiceAnswer(answer)"></span>
				<div class="block-content" ng-click="openAnswerDialogBox(answer)">
					<div ng-repeat="($id, content) in answer.contents">
						<span ng-bind-html="content.text"></span>
					</div>
				</div>
			</div>
			<!-- <div ng-if="!answerBlocks" class="content-block"></div> -->
		</div>
		<div class="block-action">
			<!-- <a class="question-content-search" href="" ng-click="openAnswerDialogBox()">+ search</a> -->
			<a class="question-content-create" href="" ng-click="openAnswerDialogBox()">+ nội dung</a>
		</div>
	</div>

	<div class="block-group" ng-if="displayCheckMethod()">
		<div class="block-header">
			<div class="block-header-title">
				Phương thức kiểm tra đáp án
			</div>
			<div class="block-header-clear"></div>
		</div>
		<div class="block-body">
			<div class="form-group row">
				<div class="col-xs-4">
					<input class="form-check-input" name="checkMethod" type="radio" ng-model="vm.subquestion.checkMethod" value="position">
					Vị trí
				</div>
				<div class="col-xs-4">
					<input class="form-check-input" name="checkMethod" type="radio" ng-model="vm.subquestion.checkMethod" value="text">
					Text
				</div>
				<div class="col-xs-4">
					<input class="form-check-input" name="checkMethod" type="radio" ng-model="vm.subquestion.checkMethod" value="math">
					Giá trị toán
				</div>
			</div>
		</div>
		<div class="block-action"></div>
	</div>

	<div class="subquestion-explanation block-group">
		<div class="block-header">
			<div class="block-header-title">
				Lời giải/Giải thích
			</div>
			<div class="block-header-clear"></div>
		</div>
		<div class="block-body">
			<div class="content-block" ng-repeat="(blockId, block) in vm.subquestion.solutions">
				<button title="Xóa" type="button" class="close content-remove" ng-click="removeSolution(blockId)" aria-hidden="true">&times;</button>
				<div class="block-content" ng-click="openSolutionDialogBox(block, blockId)">
					<div ng-repeat="($id, content) in block.contents">
						<span ng-bind-html="content.text"></span>
					</div>
				</div>
			</div>
			<!-- <div ng-if="!hintBlocks" class="content-block"></div> -->
		</div>
		<div class="block-action">
			<!-- <a class="question-content-search" href="" ng-click="openSolutionDialogBox()">+ search</a> -->
			<a class="question-content-create" href="" ng-click="openSolutionDialogBox()">+ nội dung</a>
		</div>
	</div>
</div>
