<!-- Modal -->
<div id="myModal" class="modal" role="dialog" data-backdrop="static" data-keyboard="false" ng-show="isShowContentDialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="vm.close()">&times;</button>
				<h4 class="modal-title">Loại Block:
					<a href="#" editable-select="block.type" buttons="no" e-ng-options="s.value as s.text for s in blockTypes">
						{{block.type}}
					</a>
				</h4>
			</div>
			<div class="modal-body">
				<!-- text editor -->
				<div class="text-editor" ng-repeat="content in block.contents" ng-if="!content.toBeDeleted">
					<textarea ng-if="$first" ckeditor="ckeditorOptions" ng-model="content.text"></textarea>
					<div class="content-wrapper" ng-if="$first === false">
						<input class="form-control" ng-model="content.text">
						<button title="Xóa" type="button" class="close content-remove" ng-click="removeTextContent(content, $index)" aria-hidden="true">&times;</button>
					</div>
				</div>
				<!-- image upload -->
				<file-upload ng-show="isShowUploadImage" files="block.images" type="image"></file-upload>

				<!-- audio upload -->
				<file-upload ng-show="isShowUploadAudio" files="block.audios" type="audio"></file-upload>

				<!-- video insert -->
				<video-upload ng-show="isShowVideoBlock" videos="block.videos"></video-upload>

				<!-- answer options -->
				<div class="block-element-wrapper" ng-if="isSingleChoiceType()">
					<div class="form-group">
						<input class="form-check-input" type="checkbox" ng-model="block.isTrue"> Đúng
					</div>
				</div>

				<div class="block-element-wrapper" ng-if="isFillTextType() || isAnimationType()">
					<div class="form-group row">
						<label class="col-xs-2">Vị trí</label>
						<div class="col-xs-10">
							<input type="text" class="form-control" placeholder="1, 2, 5">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-xs-2">Giá trị</label>
						<div class="col-xs-10">
							<input type="text" class="form-control" placeholder="sqrt(x+1)">
						</div>
					</div>
				</div>
			</div>

			<div class="modal-footer">
				<div class="pull-left">
					<a class="block-function" href="" ng-click="createTextContent()">+ Nội dung</a>
					<a class="block-function" ng-click="addImage()" href="">+ Hình ảnh</a>
					<a class="block-function" ng-click="addAudio()" href="">+ Âm thanh</a>
					<a class="block-function" href="" ng-click="openVideoUpload()">+ Video</a>
				</div>
				<div class="pull-right">
					<button type="button" class="btn btn-warning" ng-click="vm.close()">Hủy</button>
					<button type="button" class="btn btn-success" ng-click="vm.save()">Lưu</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	CKEDITOR.plugins.addExternal('insertvariable', '/content/ckeditor/plugins/insertvariable/');
</script>
