<div class="subquestion-list-wrapper">
	<div class="block-wrapper">
		<div class="subquestion-main block-group">
			<div class="block-title">
				Câu hỏi con: Loại điền từ
				<span class="caret"></span>
			</div>
			<div class="block-body">
				<div class="content-block"></div>
			</div>
			<div class="block-actions">
				<a class="question-content-search" href="" ng-click="vm.open()">+ search</a>
				<a class="question-content-create" href="" ng-click="vm.open()">+ nội dung</a>
			</div>
		</div>

		<div class="subquestion-answers block-group">
			<div class="block-title">Đáp án</div>
			<div class="block-wrapper-body">
				<div class="content-block"></div>
			</div>
			<div class="block-actions">
				<a class="question-content-search" href="" ng-click="vm.open()">+ search</a>
				<a class="question-content-create" href="" ng-click="vm.open()">+ nội dung</a>
			</div>
		</div>

		<div class="subquestion-explanation block-group">
			<div class="block-title">Lời giải/Giải thích</div>
			<div class="block-body">
				<div class="content-block"></div>
			</div>
			<div class="block-actions">
				<a class="question-content-search" href="" ng-click="vm.open()">+ search</a>
				<a class="question-content-create" href="" ng-click="vm.open()">+ nội dung</a>
			</div>
		</div>
	</div>

	<div class="block-wrapper">
		<div class="subquestion-main block-group">
			<div class="block-title">
				Câu hỏi con: Loại điền từ
				<span class="caret"></span>
			</div>
			<div class="block-body">
				<div class="content-block"></div>
			</div>
			<div class="block-actions">
				<a class="question-content-search" href="" ng-click="vm.open()">+ search</a>
				<a class="question-content-create" href="" ng-click="vm.open()">+ nội dung</a>
			</div>
		</div>

		<div class="subquestion-answers block-group">
			<div class="block-title">Đáp án</div>
			<div class="block-wrapper-body">
				<div class="content-block"></div>
			</div>
			<div class="block-actions">
				<a class="question-content-search" href="" ng-click="vm.open()">+ search</a>
				<a class="question-content-create" href="" ng-click="vm.open()">+ nội dung</a>
			</div>
		</div>

		<div class="subquestion-explanation block-group">
			<div class="block-title">Lời giải/Giải thích</div>
			<div class="block-body">
				<div class="content-block"></div>
			</div>
			<div class="block-actions">
				<a class="question-content-search" href="" ng-click="vm.open()">+ search</a>
				<a class="question-content-create" href="" ng-click="vm.open()">+ nội dung</a>
			</div>
		</div>
	</div>

	<div class="subquestion-add">
		<a href="">+ Thêm câu hỏi con</a>
	</div>
</div>
