html {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
    /*background-color: #8fcbed;*/
    background-color: #039be5;
}
.navbar.navbar-app {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #ccc;
}
.app-wrapper {
    display: flex;
    position: relative;
    top: 50px;
    height: calc(100% - 50px);
}

/* question */

.question-content-wrapper {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #ddd;
    background-color: #eee;
    width: 300px;
    height: 100%;
    padding: 10px;
}
.question-name {
    color: #5ea0e2;
    font-size: 16px;
    font-weight: bold;
    height: 20px;
}

/*subquestion*/

.subquestion-list-wrapper {
    display: flex;
    padding: 30px;
}
.subquestion-wrapper {
    min-width: 250px;
    height: 100%;
    display: inline-block;
    margin: 0 10px 0 0;
}
.subquestion-add a {
    cursor: pointer;
    color: white;
    float: left;
    padding: 10px 40px;
    text-decoration: none;
    background: rgba(0, 0, 0, .12);
    margin-top: 10px;
}
.subquestion-add a:hover {
    background: rgba(0, 0, 0, .20);
}

/* block */

.block-wrapper {
    width: 280px;
    background-color: #e1e1e1;
    border: 1px solid #ccc;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 10px;
    margin-top: 10px;
    float: left;
    margin-right: 15px;
}
.block-group {
    margin-bottom: 15px;
}
.block-header {
    margin-bottom: 10px;
}
.block-header-title {
    float: left;
    font-weight: bold;
}
.block-header-action {
    float: right;
    cursor: pointer;
}
.block-header-action a {
    padding: 4px 6px 0;
}
.block-header-action a:hover {
    border-radius: 4px;
    background-color: #bbb;
}
.block-header-clear {
    clear: both;
}

.block-footer {
	opacity: 0.7;
}
.block-action {
    text-align: right;
}
.block-function {
    margin-right: 10px;
}
.question-content-search {
    margin-right: 20px;
}
.content-block:hover {
    background-color: #f1f1f1;
}
.content-block {
    background-color: #fff;
    width: 100%;
    border-radius: 2px;
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 5px;
    cursor: pointer;
    overflow-x: hidden;
    min-height: 50px;
		position: relative;
}

.cke_editable {
    margin: 0 !important;
}
.text-editor {
    margin-bottom: 10px;
}
.content-wrapper {
    position: relative;
}
.content-remove {
    position: absolute;
    top: 0;
    right: 5px;
}
.content-remove:hover {
    color: red;
}

/* upload file */

.block-element-wrapper {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 5px 0 20px;
    padding: 10px;
    box-shadow: 0 0 3px rgba(57, 70, 78, .2);
}
.file-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 100px;
    height: 50px;
    padding: 5px;
    background-color: #eee;
    margin-right: 10px;
    word-break: break-all;
    text-align: center;
}
.file-name {
    margin-top: 10px;
}
.file-remove {
    position: absolute;
    top: 0;
    right: 5px;
}
.file-remove:hover {
    color: red;
}
.file-dropbox {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 100px;
    height: 50px;
    padding: 10px;
    margin: 0 10px 0 0;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    overflow: hidden;
}
.video-item {
    position: relative;
    background-color: #f1f1f1;
    padding: 5px;
    margin: 0 0 10px 0;
}
.video-remove {
    position: absolute;
    right: 5px;
    top: 0;
}
.video-remove:hover {
    color: red;
}
.add-video {
    text-align: center;
}

/* library */

.library-wrapper {
    margin-top: 20px;
}
[ng-drag] {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
[ng-drag] {
    cursor: move;
}
[ng-drag].dragging {
    z-index: 9999999999999;
}
